[submodule "wizard"]
	path = public/old-wizard
	url = git@github.com:NessDan/keyboard-wizard.git
[submodule "advanced"]
	path = public/advanced
	url = git@github.com:NessDan/keyboard-configure-simple.git
[submodule "js/shared"]
	path = public/js/shared
	url = git@github.com:NessDan/keyboard-shared.git
[submodule "angles"]
	path = public/angles
	url = git@github.com:NessDan/keyboard-angle-demo.git
[submodule "contest"]
	path = public/contest
	url = git@github.com:NessDan/keyboard-angle-demo.git
[submodule "apps/wizard"]
	path = apps/wizard
	url = git@github.com:NessDan/keyboard-wizard-v2.git
