* {
  box-sizing: border-box;
  font-family: monospace;
}

a {
  color: mediumspringgreen;
}

a:visited {
  color: mediumpurple;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 700px) and (min-height: 1200px) {
  html {
    font-size: 160%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: black;
  color: white;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

p,
ul,
ol {
  font-size: 2rem;
  line-height: 1.5;
}

small {
  font-size: 1.7rem;
}

.videos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#demo-video {
  flex: 1;
  width: 50%;
}

.subscribe {
  flex: 1;
  width: 50%;
  padding-left: 10px;
}

.video-wrap {
  position: relative;
  padding-bottom: 28.12%;
  width: 50%;
  height: 0;
  overflow: hidden;
  float: right;
  margin: 0 0 10px 10px;
}

.kickstarter-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.holder {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.email-form,
.price-form {
  display: flex;
  flex-direction: column;
}

.interested-input {
  font-size: 2.5rem;
  padding: 10px 8px;
  border-radius: 5px;
  border: 2px solid #d0daff;
  text-align: center;
}

.interested-submit[disabled] {
  background: gray;
  color: #c7c7c7;
}

.interested-submit.failed {
  background: #7c0f0f;
  color: #c7c7c7;
}

.interested-submit {
  border-radius: 2px;
  margin-top: 12px;
  -webkit-appearance: none;
  border: 2px solid #669966;
  background: linear-gradient(#2d772d, #1b901b);
  color: white;
  font-size: 2.4rem;
  padding: 16px 8px;
  text-transform: uppercase;
  word-spacing: 2.4px;
  white-space: normal;
}

.interested-submit:active {
  background: radial-gradient(#1e331e, #2d772d);
}

@media screen and (min-width: 700px) and (min-height: 1200px) {
  input[type="submit"] {
    padding: 36px 8px;
  }
}

.logo {
  max-width: 140px;
  width: 100%;
}

main {
  max-width: 1024px;
  margin: 12px auto;
  width: 100%;
}

.the-fold {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.the-fold > * {
  flex: 1;
}

.shadow {
  z-index: 3;
  background: black;
}

.shadow.top {
  box-shadow: 0px -5px 5px 5px rgb(0, 0, 0);
}

.shadow.bottom {
  box-shadow: 0px 5px 5px 5px rgb(0, 0, 0);
}

.interested-label {
  font-size: 2.4rem;
  margin: 10px;
}

/* .shadow {
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px -20px 15px 13px black;
  z-index: 3;
} */

.heading-wrapper {
  margin-bottom: 10px;
}

.kickstarter-heading {
  margin: 8px 0;
}

.kickstarter-heading a {
  color: mediumspringgreen;
}

.coming-soon {
  display: inline-block;
}

.page-title {
  margin: 4px 16px;
  font-family: monospace;
  font-weight: bold;
  font-size: 3.2rem;
}

.subtitle {
  margin: 4px 16px;
  font-size: 1.8rem;
}

.hidden {
  display: none;
}

.thank-you {
  font-size: 3rem;
}

@media screen and (min-width: 700px) and (min-height: 1200px) {
  .thank-you {
    font-size: 4rem;
  }
}

.word-box {
  display: inline-block;
}

.socials {
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.socials .icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.socials .icons > a {
  width: 100%;
  min-width: 0;
  object-fit: contain;
  padding: 0 3%;
}

.socials .icons img {
  width: 100%;
}

@media only screen and (max-width: 420px) {
  .videos {
    flex-direction: column;
  }

  #demo-video {
    width: 100%;
  }

  .subscribe {
    width: 100%;
    padding: 0;
  }

  .video-wrap {
    padding-bottom: 56.25%;
    width: 100%;
    margin: 0 0 10px 0;
  }
}
