* {
  box-sizing: border-box;
  font-family: monospace;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 700px) and (min-height: 1200px) {
  html {
    font-size: 160%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: black;
  color: white;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

section {
  margin: 0 10px;
}

p,
ul,
ol {
  font-size: 2rem;
  line-height: 1.5;
}

small {
  font-size: 1.7rem;
}

#demo-video {
  margin: 0 auto;
  z-index: 1;
  width: 97vh;
  max-width: 100%;
  /* min-width: 1760px; This let the video shrink but keep the middle portion of the video visible */
}

.holder {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.interest-form {
  display: flex;
  flex-direction: column;
}

#interested-email {
  font-size: 2.5rem;
  padding: 10px 8px;
  border-radius: 5px;
  border: 2px solid #d0daff;
  text-align: center;
}

#interested-submit[disabled] {
  background: gray;
  color: #c7c7c7;
}

#interested-submit.failed {
  background: #7c0f0f;
  color: #c7c7c7;
}

#interested-submit {
  margin-top: 20px;
  -webkit-appearance: none;
  border: none;
  background: linear-gradient(#2d772d, #1b901b);
  color: white;
  font-size: 2.4rem;
  padding: 24px 8px;
  text-transform: uppercase;
  word-spacing: 2.4px;
  white-space: normal;
}

#interested-submit:active {
  background: radial-gradient(#1e331e, #2d772d);
}

@media screen and (min-width: 700px) and (min-height: 1200px) {
  input[type="submit"] {
    padding: 36px 8px;
  }
}

main {
  max-width: 720px;
  margin: 20px auto;
  width: 100%;
}

.the-fold {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.the-fold > * {
  flex: 1;
}

.shadow {
  z-index: 3;
  background: black;
}

.shadow.top {
  box-shadow: 0px -5px 5px 5px rgb(0, 0, 0);
}

.shadow.bottom {
  box-shadow: 0px 5px 5px 5px rgb(0, 0, 0);
}

#interested-label {
  font-size: 2.4rem;
  margin: 10px;
}

/* .shadow {
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px -20px 15px 13px black;
  z-index: 3;
} */

.heading-wrapper {
  margin-bottom: 10px;
}

.subscribe {
  margin-top: 10px;
  flex-basis: 100%; /*Make sure it takes up a whole row always. */
}

.page-title {
  margin: 4px 16px;
  font-family: monospace;
  font-weight: bold;
  font-size: 3.2rem;
}

.subtitle {
  margin: 4px 16px;
  font-size: 1.8rem;
}

.hidden {
  display: none;
}

.thank-you {
  font-size: 3rem;
}

@media screen and (min-width: 700px) and (min-height: 1200px) {
  .thank-you {
    font-size: 4rem;
  }
}

.word-box {
  display: inline-block;
}
