* {
  box-sizing: border-box;
  font-family: monospace;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 700px) and (min-height: 1200px) {
  html {
    font-size: 160%;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: black;
  color: white;
}

html,
body,
.the-fold {
  min-height: 100vh;
}

#demo-video {
  align-self: start;
  z-index: 1;
  width: 100%; /*this would need to be removed for the bottom to work again.*/
  /* min-width: 1760px; This let the video shrink but keep the middle portion of the video visible */
}

@media screen and (max-width: 1200px) and (max-height: 1200px) and (orientation: landscape) {
  #demo-video {
    width: 110vh; /*this would need to be removed for the bottom to work again.*/
  }
}

.holder {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.interest-form {
  display: flex;
  flex-direction: column;
}

#interested-email {
  font-size: 3.6rem;
  padding: 6px 8px;
  border-radius: 5px;
  border: 2px solid #d0daff;
  text-align: center;
}

#interested-submit[disabled] {
  background: gray;
  color: #c7c7c7;
}

#interested-submit {
  margin-top: 20px;
  -webkit-appearance: none;
  border: none;
  background: linear-gradient(#2d772d, #003800);
  color: white;
  font-size: 2.4rem;
  padding: 24px 8px;
  text-transform: uppercase;
  word-spacing: 2.4px;
  white-space: normal;
}

#interested-submit:hover {
  background-position: 100px;
}

#interested-submit:active {
  background: radial-gradient(#003200, #006f00);
}

@media screen and (min-width: 700px) and (min-height: 1200px) {
  input[type="submit"] {
    padding: 36px 8px;
  }
}

.the-fold {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}

.shadow {
  z-index: 3;
  background: black;
}

.shadow.top {
  box-shadow: 0px -5px 5px 5px rgb(0, 0, 0);
}

.shadow.bottom {
  box-shadow: 0px 5px 5px 5px rgb(0, 0, 0);
}

.video-wrapper {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
  overflow: hidden;
}

#interested-label {
  font-size: 2.4rem;
  margin: 10px;
}

/* .shadow {
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px -20px 15px 13px black;
  z-index: 3;
} */

.heading-wrapper {
  margin-bottom: 10px;
}

.page-title {
  margin: 4px 16px;
  font-family: monospace;
  font-weight: bold;
  font-size: 3.2rem;
}

.subtitle {
  margin: 4px 16px;
  font-size: 1.6rem;
}

.hidden {
  display: none;
}

.thank-you {
  font-size: 3rem;
}

@media screen and (min-width: 700px) and (min-height: 1200px) {
  .thank-you {
    font-size: 4rem;
  }
}

.word-box {
  display: inline-block;
}
